.list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.item {
  display: flex;
  height: 45px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(216, 215, 203);
  &:nth-child(even) {
    background-color: rgb(167, 166, 154);
  }
}
